# Ignore Python package folders
faceapp/Lib/
faceapp/Include/
faceapp/Scripts/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
*.env

# Logs
*.log

# Mac/OSX system files
.DS_Store

# Large ML/DL files (optional)
*.h5
*.ckpt
*.pb
*.tflite
*.onnx
